<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="main.css">

		<title>WaveDrom static image generator</title>
		
		<script type="text/javascript" src="require.js">
		</script>

		<script type="text/javascript">
			requirejs.config({
				"paths": {
					"jquery": "https://code.jquery.com/jquery-3.2.1.min"
				}
			});
		</script>
			
		<script type="text/javascript">
			require(["dyngen"], function(ui) {
				console.log(ui);
				var ui_update = ui.dynamically_update_generated_section(
					"textarea#code_editor",
					"#scale_selector",
					"#image_type_selector",
					"#generated_content");
				
				$(function() {
					$("#generated_content").html("<p>Updating...</p>");
					ui_update();
				});
			});
			require(["jquery"], function(ui) {
				$("input[type='submit']").css("display", "none");
			});
		</script>
	</head>

	<body>
		<div id="text">
			<h1 class="title">WaveDrom static image generator</h1>

			<p>
				Wavedrom is a tool programmed by Aliaksei Chapyzhenka that allows users to create technical timing diagrams typically used
				in electronics. It comes with an <a href="http://wavedrom.com/editor.html">online editor</a> to assist the interactive
				construction of timing diagrams. However, the editor does not server timing diagrams ondemand over the internet. This makes
				embedding these timing diagrams into forum posts harder since one needs to first export the images, upload them to the forum
				and then embed them (in case the forum does not have wavedrom support).
			</p>

			<p>
				This server offers Aliaksei's wavedrom-generator as a service. Paste your wavedrom source script below and copy the
				generated image link to embed the graphics to any other website you like.
			</p>
		</div>

		<div id="generator">
			<div id="textfield">
				<h2>Enter your wavedrom script</h2>
				<form id="fallback_form" method="POST" action="/rest/generate_link">
					<div>
						<p>Code:</p>
						<textarea id="code_editor" name="code" form="fallback_form">{signal: [
  {name: 'clock', wave: 'p.......'},
  {name: 'value', wave: '0.10..10'}
]}</textarea>
					</div>

					<div class="options">
						<div>
							<p>Image type:</p>

							<select name="type" id="image_type_selector">
								<option value="svg">SVG</option>
								<option value="png">PNG</option>
							</select>
						</div>
						<div>
							<p>Scale:</p>
							<input type="text" name="scale" value="1.0" id="scale_selector" />
						</div>
					</div>
					<input type="hidden" name="redirect" value="true" />
					<input type="submit" value="Generate image" />
				</form>
			</div>
			<div id="generated">
			  <h2>Generated image</h2>
				<span id="generated_content">
					<p>
						No javascript means no dynamically generated content. Use the static form instead or switch to a JavaScript enabled browser.
					</p>
				</span>
			</div>
		</div>

		<div id="help">
			<h1>REST API</h1>

			<p>
			  The REST API can be used by anyone to remotely generate wavedrom plots that can be embedded in online media, solving
				the hosting issue for wavedrom users.
			</p>

			<h2>
				Link generator
			</h2>

			<p class="code">
				REQUEST_TYPE: POST
			</p>

			<p class="code">
				URL: {{ protocol }}://{{ hostname }}/rest/generate_link?[type=png][scale=1.0][c=...]
			</p>

			<p>
				The link generator receives text as input in the post body or optionally in the <span class=code>c</span> POST-argument (one of the two,
				not both). The maximum text length that can be submitted is 32768 bytes. Any text longer than this will be
				truncated after 32768 bytes. The result will be the link (text/plain) that will show the wavedrom image. If
				the wavedrom code contains an error, the result will be the image of an error message.
			</p>

			<h3>
				Arguments
			</h3>

			<h4>
				Image type (optional)
			</h4>

			<p class="code">
				type=png|svg
				default: png
			</p>

			<p class="arg">
				Determines the type of the image that should be generated.
			</p>

			<h4>
				Image scale (optional)
			</h4>

			<p class="code">
				scale=[float]
				default: 1.0
			</p>

			<p class="arg">
				Give the scale ofthe image that should be generated as a zoom factor. This value is only valid if type is png and will be
				ignored in all other cases. Minmal value is .1 and maximum value is 10.0. If the values lies outside the given range
				the result will be silently clipped to these maximum values.
			</p>
		</div>
	</body>
</html>
